{% extends 'main/base.html' %}

{% block content %}

<h1>{{title}}</h1>

<style> p { text-indent: 40px; text-align: justify; }</style>
<p>Это сайт о ноутбуках.</p>
<p>Ноутбук (англ. notebook — блокнот) — переносной компьютер, в корпусе которого объединены типичные компоненты ПК,
включая дисплей, клавиатуру и устройство указания (обычно сенсорная панель или тачпад), а также аккумуляторные батареи.
Ноутбуки отличаются небольшими размерами и весом, время автономной работы ноутбуков варьируется в пределах от 2 до 15
часов.</p>
<p>Лэптоп (англ. laptop — lap — колени сидящего человека, top — верх, «наколенник») — более широкий термин, он
применяется как к ноутбукам, так и нетбукам, смартбукам.</p>
<p>К ноутбукам обычно относят лэптопы (часто употребляется «лаптоп»), выполненные в раскладном форм-факторе. Ноутбук
переносят в сложенном виде, это позволяет защитить экран, клавиатуру и тачпад при транспортировке. Также это связано с
удобством транспортировки (чаще всего ноутбук транспортируется в портфеле, что позволяет не держать его в руках, а
повесить на плечо).</p>

{% endblock %}