{% extends 'main/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for n in notebooks %}
	    <li><div class="article-panel">
	<p class="first">Категория: {{ n.cat }}</p>
</div>
			{% if n.photo %}
			    <p><img class="img-article-left thumb" src="{{ n.photo.url }}"></p>
			{% endif %}
			<h2>{{n.title}}</h2>
	{% autoescape on %}
	{{n.content|linebreaks|truncatewords:50}}
	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ n.get_absolute_url }}">Смотреть информацию</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}